<div class="row">
  <div class="small-12 medium-4 columns">
    <%= form_tag(activities_path, :method => "get", id: "search-form") do %>
      <%= label :search, "Items" %>
      <div class="row">
        <%= collection_check_boxes(:search, :items, @items, :id, :name, include_hidden: false) do |b| %>
          <div class="small-6 columns"><%= b.label %><%= b.check_box %></div>
        <% end %>
      </div>
      <div><%= submit_tag "Search", :name => nil %></div>
    <% end %>
  </div>
  <div class="small-12 medium-8 columns">
    <p>Welcome! Select some items so we can suggest an activity!</p>
  </div>
</div>
