<div class="content row">
  <div class="off-canvas position-left reveal-for-medium" id="offCanvas" data-off-canvas>
    <%= form_tag(activities_path, :method => "get", id: "search-form") do %>
      <%= label :item_ids, "Items", class: "header" %>
      <div class="form">
        <%= collection_check_boxes(:cookies, :item_ids, @items, :id, :name, { checked: @useritems } ) do |b| %>
          <div class="checkbox columns"><%= b.label %><%= b.check_box %></div>
        <% end %>
      </div>
      <div class="small-12 columns text-center"><%= submit_tag "Search", :name => nil, class: "button" %></div>
    <% end %>
  </div>
  <div class="off-canvas-content" data-off-canvas-content>
    <% if @searchresult.empty? %>
      <div class="callout primary">Welcome! Select some items so we can suggest an activity!</div>
    <% else %>
      <ul class="accordion" data-accordion>
        <% @searchresult.each do |activity| %>
          <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title"><%= activity.title %></a>
            <div class="accordion-content" data-tab-content>
              <div class="row">
                <div class="small-12 columns text-center">
                  <%= image_tag(activity.image) %>
                </div>
                <div class="small-12 columns">
                  <h4>Description:</h4>
                  <p><%= activity.description %></p>
                  <h4>Instructions:</h4>
                  <p><%= activity.instructions %></p>
                  <p><strong>Source:</strong> <%= link_to(activity.url) %>
                </div>
            </div>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
