<div class="row">
  <div class="small-12 medium-4 columns">
    <%= form_tag(activities_path, :method => "get", id: "search-form") do %>
      <%= label :item_ids, "Items" %>
      <div class="row">
        <%= collection_check_boxes(:cookies, :item_ids, @items, :id, :name, { checked: @useritems } ) do |b| %>
          <div class="small-6 columns"><%= b.label %><%= b.check_box %></div>
        <% end %>
      </div>
      <div><%= submit_tag "Search", :name => nil %></div>
    <% end %>
  </div>
  <div class="small-12 medium-8 columns">
    <% if @searchresult.empty? %>
      <p>Welcome! Select some items so we can suggest an activity!</p>
    <% else %>
      <% @searchresult.each do |activity| %>
        <div class="callout primary">
          <h3><%= activity.title %></h3>
          <p><%= activity.description %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
