<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
      <div class="top-bar">
        <div class="small-3 columns hide-for-medium">
          <button type="button" data-toggle="offCanvas" class="button">Select Items</button>
        </div>
        <div class="small-9 medium-12 columns">
          <h3>Let's Play!</h3>
        </div>
      </div>
      <div class="off-canvas-wrapper">
        <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
      <%= yield %>
    </div>
  </div>
</body>
</html>
